{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Weather Page{% endblock title %}

{% block welcome %}Here is your weather{% endblock welcome %}
{% block table %}


    <table class="table">
        <tbody>
            <!-- First Half -->
            {% for key, value in first_half.items %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ value }}</td>
            </tr>
            {% endfor %}
            <!-- Second Half -->
            {% for key, value in second_half.items %}
            <tr>
                {% if key != 'Icon' %}
                <td>{{ key }}</td>
                <td>{{ value }}</td>
                {% else %}
                <td colspan="2"><img src="{{ value }}" alt="Weather Icon" class="img-fluid"></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    
{% endblock table %}