{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather APP</title>
    <link rel="stylesheet" href="{% static 'weather_app/style.css' %}">
</head>
<body>
    <p>Enter the city and state to get the weather</p>
    <form action="{% url 'index' %}" method="post">
        {% csrf_token %}
        <label for="city">City: </label>
        <input id="city" type="text" name="city" value="{{ city }}">
        <label for="state">State: </label>
        <input id="state" type="text" name="state" value="{{ state }}">
        <input type="submit" value="OK">
    </form>
    
    
</body>
</html>