{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'weather_app/style.css' %}">
    <title>Weather Data</title>
</head>
<body>
    <h1>Weather in {{ weather_data.city }}</h1>
    <p>Date: {{ weather_data.Date }}</p>
    <p>Sunrise: {{ weather_data.sunrise }}</p>
    <p>Sunset: {{ weather_data.sunset }}</p>
    <p>Temperature: {{ weather_data.temperature }}°F</p>
    <p>Feels Like: {{ weather_data.feels_like }}°F</p>
    <p>Humidity: {{ weather_data.humidity }}%</p>
    <p>Wind Speed: {{ weather_data.wind_speed }} mph</p>
    <p>Pressure: {{ weather_data.pressure }} hPa</p>
    <p>Visibility: {{ weather_data.visibility }} miles</p>
    <p>UV Index: {{ weather_data.uvi }}</p>
    <p>Clouds: {{ weather_data.clouds }}%</p>
    <p>Weather: {{ weather_data.weather }}</p>
    <p>Description: {{ weather_data.description }}</p>
    <img src="http://openweathermap.org/img/w/{{ weather_data.icon }}.png" alt="{{ weather_data.description }}">
</body>
</html>